
.field.slide input{
    margin-bottom: 40px;
}

.field.red input{
    background: #f2d8d8;

}
.field.green input{
    background: #f0faf1;
}
.field.blue input
{
    background: #e1e6f7;
}
.field input[type=range]{
    padding-top: 50px;
    padding-bottom: 20px;
}
input{
    background: none;
}
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 8.4px;
    cursor: pointer;
    border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]::-moz-range-track {
    height: 8.4px;
    cursor: pointer;
    border-radius: 1.3px;
}
input[type=range]::-moz-range-track {
    height: 8.4px;
    cursor: pointer;
    border-radius: 1.3px;
}
input[type=range].red::-webkit-slider-runnable-track{
    background: linear-gradient(to right, black , red);
}
input[type=range].green::-webkit-slider-runnable-track{
    background: linear-gradient(to right, black , green);
}
input[type=range].blue::-webkit-slider-runnable-track{
    background: linear-gradient(to right, black , blue);
}
input[type=range].red::-moz-range-track {
    background: linear-gradient(to right, black , red);
}
input[type=range].green::-moz-range-track {
    background: linear-gradient(to right, black , green);
}
input[type=range].blue::-moz-range-track {
    background: linear-gradient(to right, black , blue);
}
input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: linear-gradient(to right, black , red);
    border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
    background: linear-gradient(to right, black , red);
    border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
}
